@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');
@font-face {
  font-family: "Assassins";
  src: url('assets/font/Assassin$.ttf') format("truetype");
}
* { 
  font-family: 'Signika';
  color: var(--Content);
  font-weight: 400;
  letter-spacing: .125rem;
  line-height: 150%;
}
:root {
  --BG: #060E0F;
  --BG50: rgba(6, 14, 15, 0.5);
  --BG50-2: rgba(29, 40, 41, 0.5);
  --Primary: #3AA5AC;
  --Primary2: #266E73;
  --Content: #F7F0F0;
  --Content50: rgba(247, 240, 240, 0.5);
  --Content10: rgba(247, 240, 240, 0.1);
  --Negative: #F43E3E;
  --Warning: #EEBC20;
  --Positive: #54D56F;

  --Dice: linear-gradient(157deg, #FFFFFF 0%, #807D7D 76.26%);
  --DiceShadow: 3.33424px 7.85497px 17.0667px rgba(49, 48, 48, 0.8), inset -2.22283px -5.23665px 5.68889px #636060, inset 2.22283px 5.23665px 5.68889px #FFFFFF;
  --DiceDash: 4px dashed var(--Warning);
  --Blur: blur(14px);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: center / cover url('assets/BG.png') var(--BG);
}
#root {
  display: flex;
}


h1 {
  font-family: "Assassins";
  font-size: 10vh;
}
h2 {
  font-size: 4vh;
}
p {
  font-size: 2vh;
}

.Home {
  padding: 4vw;
}

/*
  Buttons
*/
button {
  border-radius: 16px;
  border: none;
  cursor: pointer;
}
button:disabled {
  color: var(--BG);
  background: var(--Content50);
  cursor: initial;
  opacity: .5;
}

.cta {
  width: fit-content;
  height: fit-content;
  font-size: 2.5rem;
  padding: .5rem 2rem;
  text-transform: uppercase;
  background: var(--BG50);
  backdrop-filter: var(--Blur);
  border: 3px solid var(--Content50);
  margin: 3rem;
  transition: background .3s ease-out;
}
.cta:hover {
  background: var(--BG50-2);
}
.cta:disabled:hover {
  color: var(--BG);
  background: var(--Content50);
  cursor: initial;
  opacity: .5;
}

.cta-primary {
  width: fit-content;
  font-size: 2rem;
  padding: .5rem 2rem;
  background: var(--Primary);
  transition: background .3s ease-out;
}
.cta-primary:hover {
  background: var(--Primary2);
}
.cta-primary:hover:disabled {
  color: var(--BG);
  background: var(--Content50);
}

/*
  Dices
*/
.dice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  aspect-ratio: 1/1;
  border-radius: 12px;
  margin: 16px;
  
  background: var(--Dice, linear-gradient(157deg, #FFF 0%, #807D7D 76.26%));

  box-shadow: 3.33424px 7.85497px 17.06667px 0px rgba(49, 48, 48, 0.80), 2.22283px 5.23665px 5.68889px 0px #FFF inset, -2.22283px -5.23665px 5.68889px 0px #636060 inset;
  transition: all .125s ease-in;
}
.dice.selectable {
  box-shadow: 0px 0px 25px 0px rgba(238, 221, 143, 0.8)
}
.dice.banned {
  opacity: .5;
}
.dice:hover {
  box-shadow: 0px 0px 25px 0px rgba(140, 194, 211, 0.8)
}

.pp.dice::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  border-radius: 12px;
  border: 4px dashed var(--Warning);
  opacity: .8;

  box-sizing: border-box;
}

/*
  Stats
*/
.stat {
  display: flex;
}
.stat .pv, .pp {
  position: relative;
  display: flex;
  align-items: center;
}
.stat_text {
  font-size: 24px;
}

.update {
  position: absolute;
  right: -10%;
  animation-name: StatAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes StatAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

/*
  Favors
*/
.favor {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}
.favor p {
  margin: 4px;
  font-size: 14px;
}
.favor img {
  width: 50%;
  object-fit: contain;
}
.favor span {
  cursor: pointer;
}
.favor_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.favor_description {
  display: flex;
}

.cost {
  color: var(--Warning);
}
.priority {
  color: var(--Content50);
  font-size: 8px;
}
.description {
  font-size: 10px;
}

/*
  INPUTS
*/
input {
  max-width: 250px;
  border-radius: 0;
  font-size: 1.25rem;
  border: none;
  background: none;
  border-bottom: 3px solid var(--Primary);
}
input:focus {
  outline: none;
}
input:disabled {
  border-bottom: 3px solid var(--Content50);
  color: var(--Content50);
  background: var(--Content50);
}
input[type="checkbox"] {
  appearance: none;
  background-color: var(--Content);
  margin: 0;
  font: inherit;
  color: var(--Primary);
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid var(--Primary);
  border-radius: 0.25rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.85rem;
  height: 0.85rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--Primary);
}
input[type="checkbox"]:disabled {
  border: 0.125rem solid var(--Content50);
  color: var(--Content50);
  background-color: var(--Content50);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="radio"] {
  appearance: none;
  background-color: var(--Content);
  margin: 0;
  font: inherit;
  color: var(--Primary);
  width: 1rem;
  height: 1rem;
  border: 0.15rem solid var(--Primary);
  border-radius: 50%;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}
input[type="radio"]:disabled {
  border: 0.15rem solid var(--Content50);
  color: var(--Content50);
  background-color: var(--Content50);
}
input[type="radio"]::before {
  content: "";
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--Primary);
}
input[type="radio"]:checked::before {
  transform: scale(1);
}


/*
  PLAYER
*/
.player__component {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player__side {
  margin-top: 5vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.player__favors {
  width: fit-content;
  min-height: 200px;
  margin: 24px;
  display: flex;
  border-radius: 16px;
  background: var(--BG50, rgba(6, 14, 15, 0.50));
  backdrop-filter: blur(14px)
}
.second__player .player__favors {
  align-self: flex-end;
}
.player__character {
  max-width: 45%;
  z-index: -1;
  position: absolute;
  top: 30%;
  left: -10%;
}
.second__player .player__character {
  left: auto;
  right: -10%;
}

.player__favors_bonus {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.second__player .player__favors_bonus {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.second__player .player__favors_bonus .dice {
  transform: scaleX(-1);
}
.player__favors_bonus p {
  font-size: 24px;
}


.player__data {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.player__data h2 {
  margin: 0;
  margin-bottom: 32px;
}
.second__player .player__data {
  align-items: end;
}
.player__component .left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 32px 48px;
}
.player__component .right {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.second__player .right {
  flex-direction: row-reverse;
}
.dice__selectable, .dice__selected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 32px;
}

.second__player .cta-primary {
  align-self: flex-start;
}

.player__component .left {
  align-items: start;
}
.second__player .left {
  align-items: end;
}

.player__actions {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.second__player .player__actions {
  align-items: start;
}


.second__player .player__side {
  flex-direction: row-reverse;
}

/*
  GAME
*/
.game {
  display: flex;
}
.game .cta {
  z-index: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-63.5%, -50%);
}
.game__infos {
  position: absolute;
  text-align: center;
  max-width: 30%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*
  MENU
*/
.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 5;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--BG50);
  backdrop-filter: var(--Blur);
}

.menu h2 {
  font-size: 4em;
}

/*
  CAROUSEL
*/
.carousel__container {
  width: 100%;
  overflow: hidden;
}
.carousel {
  width: min-content;
  display: flex;
  transition: all .2s ease-in-out;
}
.carousel::after {
  content: '';
  width: 32px;
  height: 100%;
  background: #000;
}
.element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.element input {
  transform: translate(240%, 350%);
}

/*
  PLAYER FORM
*/
.player__form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  transition: width .3s ease-in-out;
}
.player__form h1 {
  font-family: "Signika";
  font-size: 80px;
  margin-left: 32px;
}

.form {
  position: relative;
  max-width: fit-content;
  border-radius: 16px;
  background: var(--BG50);
  margin:0 32px;
}
.form_button {
  display: flex;
  justify-content: end;
  width: 100%;
}
.form_button .cta-primary {
  transform: translate(-20%, 35%);
}
.form__section {
  padding:0 32px;
}
.form-span {
  font-size: 16px;
  font-weight: 400;
  color: var(--Content50);
}
.blur_effect {
  position: relative;
  top: -100%;
  z-index: -1;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  backdrop-filter: var(--Blur);
}

.form__page {
  display: flex;
}
.current__players {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--BG);
  width: 30vw;
}
.current__players .cta-primary {
  width: 80%;
}
.current__header {
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.current__header span {
  font-size: 32px;
}
.player__placeholder {
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}
.player__placeholder .placeholder {
  width: 100%;
  height: 40px;
  background: var(--Content10);
  opacity: .2;
  overflow: hidden;
}
.player__placeholder .light{
  width: 60%;
  height: 40px;
  background: linear-gradient(to right, #ffffff00 0%, var(--Content10) 47%, var(--Content)50%,var(--Content10) 53%, #ffffff00 100%);;
  transform: skew(-30deg, 0deg);
  animation: shine 4s ease-in-out infinite
}
.placeholder:nth-child(1) .light {
  animation-delay: .2s;
}
.placeholder:nth-child(2) .light {
  animation-delay: .1s;
}
@keyframes shine {
  0% {
    transform: skew(-30deg, 0deg) translateX(-200%);
  }
  60% {
    transform: skew(-30deg, 0deg) translateX(300%);
  }
  100% {
    transform: skew(-30deg, 0deg) translateX(1000%);
  }
}

.player__datas {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
}
.player__datas_cross {
  font-size: 48px;
  color: var(--Negative);
  cursor: pointer;
}
.player__datas_name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player__datas img {
  margin-left: 12px;
  width: 15%;
  height: 56px;
  object-fit: contain;
}
.player__datas_img {
  display: flex;
  align-items: center;
}