@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400&display=swap');
@font-face {
  font-family: "Assassins";
  src: url('assets/font/Assassin$.ttf') format("truetype");
}
* { 
  font-family: 'Signika';
  color: var(--Content);
  font-weight: 400;
  letter-spacing: .125rem;
  line-height: 150%;
}
:root {
  --BG: #060E0F;
  --BG50: rgba(6, 14, 15, 0.5);
  --BG50-2: rgba(29, 40, 41, 0.5);
  --Primary: #3AA5AC;
  --Primary2: #266E73;
  --Content: #F7F0F0;
  --Content50: rgba(247, 240, 240, 0.5);
  --Negative: #F43E3E;
  --Warning: #EEBC20;
  --Positive: #54D56F;

  --Dice: linear-gradient(157deg, #FFFFFF 0%, #807D7D 76.26%);
  --DiceShadow: 3.33424px 7.85497px 17.0667px rgba(49, 48, 48, 0.8), inset -2.22283px -5.23665px 5.68889px #636060, inset 2.22283px 5.23665px 5.68889px #FFFFFF;
  --DiceDash: 4px dashed var(--Warning);
  --Blur: blur(14px);
}

#INDEX {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: center / cover no-repeat url('assets/BG_Index.jpg'), linear-gradient(91.85deg, #060E0F 0.22%, rgba(6, 14, 15, 0) 41.61%);
  padding: 6rem 8rem;
  margin: 0;
}
#APP {
  margin: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: center / cover url('assets/BG.png') var(--BG);
}


button {
  border-radius: 16px;
  border: none;
  cursor: pointer;
}
button:disabled {
  color: var(--BG);
  background: var(--Content50);
  cursor: initial;
}

.btn {
  font-size: 3rem;
  padding: .75rem 3rem;
  text-transform: uppercase;
  background: var(--BG50);
  backdrop-filter: var(--Blur);
  border: 3px solid var(--Content50);
  margin: 3rem;
  transition: background .3s ease-out;
}
.btn:hover {
  background: var(--BG50-2);
}

.btn-action {
  font-size: 2rem;
  padding: .5rem 2rem;
  background: var(--Primary);
  transition: background .3s ease-out;
}
.btn-action:hover {
  background: var(--Primary2);
}
.btn-action:hover:disabled {
  color: var(--BG);
  background: var(--Content50);
}

h1 { font-family: 'Assassins'; font-size: 6rem; line-height: 100%;}
h2 { font-size: 3.5rem; text-transform: uppercase;}
h3 { font-size: 2.5rem; text-transform: uppercase;}
p { font-size: 1.5rem; margin: 3rem 0;}

.form {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 16px;
  background: var(--BG50);
  backdrop-filter: var(--Blur);
}
form span {
  color: var(--Content50);
  font-weight: 300;
  font-size: 1rem;
}
form p {
  margin: 0;
}
.form button {
  width: fit-content;
  position: absolute;
  bottom: -.75rem;
  right: .75rem;
}
.favor_name {
  font-size: 1.25rem;
  font-weight: 300;
}
.favor_p {
  max-height: 90px;
  font-size: .75rem;
  font-weight: 300;
}
.favor_cost {
  font-size: 1.25rem;
  color: var(--Warning);
}
input {
  max-width: 250px;
  border-radius: 0;
  font-size: 1.25rem;
  border: none;
  background: none;
  border-bottom: 1px solid var(--Primary);
}
input:focus {
  outline: none;
}
label {
  font-size: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
input[type="checkbox"] {
  appearance: none;
  background-color: var(--Content);
  margin: 0;
  font: inherit;
  color: var(--Primary);
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid var(--Primary);
  border-radius: 0.25rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.85rem;
  height: 0.85rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--Primary);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="radio"] {
  appearance: none;
  background-color: var(--Content);
  margin: 0;
  font: inherit;
  color: var(--Primary);
  width: 1rem;
  height: 1rem;
  border: 0.15rem solid var(--Primary);
  border-radius: 50%;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}
input[type="radio"]::before {
  content: "";
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--Primary);
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
.favor {
  width: 260px;
  margin: 1.25rem;
}
.favor img {
  width: 80px;
  height: 80px;
}
.favor_statue {
  display: flex;
  align-items: center;
}
.favor_statue input {
  position: relative;
  bottom: -2rem;
  left: 1rem;
}
#favors {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
#favors::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}
#favors::-webkit-scrollbar-thumb {
  background: var(--Primary);
  border-radius: .5rem;
}
#favors::-webkit-scrollbar-track {
  background: transparent;
}
#favors > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform .5s;
  position: relative;
}
#character {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
#character::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}
#character::-webkit-scrollbar-thumb {
  background: var(--Primary);
  border-radius: .5rem;
}
#character::-webkit-scrollbar-track {
  background: transparent;
}
#character > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform .5s;
  position: relative;
}
.character {
  margin: 0 1rem;
}
.character input {
  position: relative;
  bottom: -5rem;
}
#form {
  padding: 3rem 4rem;
  transition: width .5s ease;
}
#ready {
  width: 33vw;
  height: 100vh;
  background: var(--BG);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#ready .btn-action {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease;
}

.ready_player {
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ready_player_name p, .ready_player_character p, .ready_player_favors p{
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.ready_player_name {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 24px;
}
.ready_player_character, .ready_player_favors {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
}
.ready_player_character img, .ready_player_favors img {
  width: 48px;
  height: 48px;
  margin: .5rem 1rem;
}
.ready_player .no-data {
  color: var(--Warning);
  font-size: 2.5rem;
  margin: 1rem;
}
.ready_player .cross {
  position: relative;
  right: -12rem;
  color: var(--Negative);
  font-size: 2rem;
  cursor: pointer;
}